/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;

  &__button {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + .switch__slider {
      background-color: $color-highlight;
    }

    &:focus + .switch__slider {
      box-shadow: 0 0 1px $color-highlight;
    }

    &:checked + .switch__slider:before {
      left: 1.8em;
    }
  }

  &__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 34px;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;

    &:before {
      position: absolute;
      content: "";
      height: 1.5em;
      width: 1.5em;
      left: .3em;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 50%;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
  }
}
