$color-highlight: #0065AC;
$color-darker: #31323D;
$color-dark: #3D3D49;
$color-light: #4D4F58;
$color-lighter: #C8C6CB;
$color-offwhite: #EFF0F3;

$font-huge: 4rem;
$font-bigger: 3rem;
$font-big: 2rem;
$font-regular: 1rem;
$font-small: .8rem;
$font-smaller: .5rem;
