$color-highlight: #0065AC;
$color-darker: #31323D;
$color-dark: #3D3D49;
$color-light: #4D4F58;
$color-lighter: #C8C6CB;
$color-offwhite: #EFF0F3;
$color-white: #fff;

$font-huge: 4em;
$font-bigger: 3em;
$font-big: 2em;
$font-medium: 1.5em;
$font-regular: 1.2em;
$font-small: .8em;
$font-smaller: .5em;
