@import '../../styles/features/variables';

.education__item {
  position: relative;
  padding-left: 16em;


  &:not(:last-child) {
    margin: 1.5em 0 3em 0;
  }

  &:last-child {
    margin-bottom: 1.5em;
  }

  & .college {
    font-size: $font-medium;
    font-weight: 700;

    &::after {
      content: "";
      width: .4em;
      height: .4em;
      border: 2px solid $color-lighter;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 8em;
      transform: translate(-50%, -50%);
    }
  }

  & .title {
    color: $color-highlight;
    font-size: $font-regular;
  }

  & .from-to {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    font-weight: 700;
    color: $color-lighter;
  }
}
