* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  font-family: Roboto, sans-serif;
  font-size: $font-small;
  width: 100vw;
  color: $color-darker;
  background-color: transparent;
}

.main--resume {
  display: grid;
  grid-gap: 1.2em;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  background-color: $color-offwhite;
  box-sizing: border-box;
  width: 100%;

  & .border--bottom {
    width: 100%;
    height: 2px;
    background-color: $color-offwhite;
    align-self: center;
    border-radius: 100px;
    margin: 1em 0;
  }

  & .card {
    background-color: $color-white;
    padding: 1.5em;
    border-radius: 3px;
    box-shadow: .1em .1em .4em rgba(0,0,0,.1);

    &__title {
      font-size: $font-medium;
    }
  }

  &__header {
    background-color: $color-white;
    grid-column: 1 / 13;
    width: 100%;
    height: 100%;
    box-shadow: .1em .1em .4em rgba(0,0,0,.1);

    & .stripe {
      &--black {
        background-color: $color-darker;
        width: 100%;
        height: 2vh;
      }

      &--white {
        width: 50%;
        margin: 0 auto;
        padding: 1.5em;
        font-weight: 700;
        position: relative;

        &__border--left {
          height: 50%;
          width: 2px;
          border-radius: 100px;
          background-color: $color-offwhite;
          position: absolute;
          top: 50%;
          left: 0%;
          transform: translateY(-50%);
        }

        &__title {
          color: $color-lighter;
          text-transform: capitalize;
        }

        &__name {
          font-size: $font-big;
        }
      }
    }
  }

  &__bio {
    grid-column: 4 / 10;
  }

  &__contact {
    grid-column: 10 / 12;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20vh;

    & .cto {
      font-size: $font-regular;
      color: $color-lighter;
      margin-bottom: 1em;
    }

    & .button {
      padding: 1em 1.5em;
      background-color: $color-highlight;
      border: 3px solid darken($color-highlight, 3%);
      border-radius: 3px;
      color: $color-offwhite;
      transition: all .1s ease-in-out;

      &:hover {
        cursor: pointer;
        background-color: lighten($color-highlight, 5%);
        border: 3px solid lighten($color-highlight, 8%);
        transform: translateY(-1px);
      }

      &:focus {
        outline: none;
      }
    }
  }

  &__shortcuts {
    grid-column: 2 / 4;
  }

  &__projects {
    grid-column: 10 / 12;
  }

  &__experience {
    grid-column: 4 / 10;
  }

  &__education {
    grid-column: 4 / 10;
  }

  &__skills {
    grid-column: 4 / 7;
  }

  &__languages {
    grid-column: 7 / 10;
  }

  &__footer {
    background-color: $color-darker;
    height: 15vh;
    color: $color-offwhite;
    grid-column: 1 / 13;
    font-size: $font-regular;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & .description {
      margin-bottom: 1em;
      font-weight: 300;

      & strong {
        color: $color-highlight;
      }
    }

    & .copyright {
      color: $color-light;
    }
  }
}


